/*mobile portate*/
.product-ads img {
	width: 100%;
}
@media only screen and (min-width:320px) and (max-width:460px) {
.wishcompare {
	width: 100% !important;
}

}
@media only screen and (min-width:320px) and (max-width:575px) {
    .brand-item {
    height: 105px !important;
    width: 105px;
    line-height: 105px;
}
    .brand-item a {
        line-height: 1.5 !important;
        font-size: 14px;
        display: inline-block;
        padding-top: 28px;
    }
    /*.row {
     margin-right: -15px; 
     margin-left: -15px; 
    }*/
    .product-cart ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 5px;
        padding-left: 5px;
    }

}

@media only screen and (min-width:320px) and (max-width:500px) {
    .cart a span {
        right: -17px;
        top: 15px;
    }
    .footer-bottom-area {
        margin-bottom: 50px !important;
    }

}

@media only screen and (min-width: 500px) and (max-width: 520px){
    .hproduct-img {
        height: 292px;
    }
    
}
@media only screen and (min-width: 480px) and (max-width: 500px){
    .hproduct-img {
        height: 270px;
    }
    
}

@media only screen and (min-width: 460px) and (max-width: 480px){
    .hproduct-img {
        height: 270px;
    }
    
}

@media only screen and (min-width: 440px) and (max-width: 460px){
    .hproduct-img {
        height: 258px;
    }
    
}
@media only screen and (min-width: 420px) and (max-width: 440px){
    .hproduct-img {
        height: 246px;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 420px){
    .hproduct-img {
        height: 234px;
    }
   
}

@media only screen and (min-width: 380px) and (max-width: 400px){
    .hproduct-img {
        height: 222px;
    }
   
}
@media only screen and (min-width: 370px) and (max-width: 380px){
    .hproduct-img {
        height: 210px;
    }
   
}
@media only screen and (min-width: 360px) and (max-width: 370px){
    .hproduct-img {
        height: 204px;
    }
    
}
@media only screen and (min-width: 350px) and (max-width: 360px){
    .hproduct-img {
        height: 198px;
    }
   
}

@media only screen and (min-width: 340px) and (max-width: 350px){
    .hproduct-img {
        height: 193px;
    }
  
}

@media only screen and (min-width: 320px) and (max-width: 340px){
    .hproduct-img {
        height: 188px;
    }
}
@media only screen and (min-width:320px) and (max-width:767px) {
.product-details .cart-summary {
    display: none;
}
.custom-col5 {
    width: 48%;
    margin: 1%;
}
.related-title {
    padding: 10px 0px;
}
.related-title h5 {
    font-size: 18px;
}
.mobile-related-product {
    display: block;
}
.store-check-btn, .store-check-btn:hover {
    width: 70% !important;
}
.store-product-img .discount {
    left: 6px;
}
.psection-title {
    margin-left: 0px !important;
    margin-top: 10px;
    margin-bottom: 4px;
}
.psection-title h4::after {
   display: none !important;
}

.store-availibility {
    width: 350px !important;
    z-index: 99999 !important;
}
.product-details.modal-product.show {
    height: 80%;
    top: auto;
    bottom: 0 !important;
}
.login-content.payment-form1 p {
    text-align: left;
    margin: 0 0;
}
.sk-slider {
    height: 150px !important;
}
.mobile-show{
    display: block;
}
.desktop-show{
    display: none;
}
.category-area {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.category-item img {
    height: 50px !important;
    width: 50px !important;
    background: #6848d1;
}
.category-item {
    text-align: center;
    padding: 0;
    margin: 3px 3px !important;
    background: transparent;
}
.category-item p {
    height: 30px;
}
.coupon-code input {
    width: 80%;
}
.psoldout button {
    padding: 2px 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
}
.payment-form-area .checkout-btn {
    margin-bottom: 90px;
}
.mobile-footer{
    display: block;
}
.scustomer-register a {
    margin: 0;
}
.mobile-search.main-search input {
    padding-left: 20px;
    height: 38px;
    width: 95% !important;
}
.searchtoggle{
    display: block !important;
}
.mobile-menu ul li:hover {
    background: #FF1593 !important;
}
.desktop-footer {
    display: none;
}
.mobile-payment  .card-header {
    margin: 0 !important;
    background: rgb(237, 242, 247) !important;
}
.mobile-payment .card-body {
    border-bottom: 1px solid #ddd;
}
.mobile-payment {
    display: block;
}
.desktop-payment {
    display: none;
}
.payment-form-area {
    width: 330px;
}
.payment-form-area{
    max-height: 600px !important;
}
.product-details .cart-summary {
    margin-top: 20px !important;
}
.custom-col {
    width: 48% !important;
}
.size-chart {
    width: 100%;
}
.size-chart.showchart {
    overflow-y: scroll;
}
.slide-item {
    height: 150px;
    width: 100%;
}
.cart-checkout {
    margin: 15px;
    display: none;
}
.payment-method-info p {
    text-align: left !important;
}

.login-content p {
    text-align: center;
}
.login-content form {
    padding: 0 10px;
}
.coupon-code form {
    padding: 12px 25px;
}
.cart-summary .row {
    padding-top: 5px !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}
.payment_btn {
    margin-top: 10px;
}
.cart-info {
    padding: 0px;
}
.cart-info img {
    height: 63px !important;
}
.navigation{
    height: 80vh !important;
}
.cartnavigation .toggle-wrapper {
    height: 75px;
    width: 70px;
}
.cartnavigation .show i {
    font-size: 15px;
    margin-top: 5px;
}
.toggle-wrapper p {
    font-size: 12px;
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 9999;
    height: 100vh;
    width: 230px;
    visibility: hidden;
    opacity: 0;
    left: -155px;
    transition: 0.35s;
    overflow-y: scroll;
    padding-bottom: 70px;
}
.mobile-menu {
    text-transform: capitalize;
    font-weight: 500;
    color: #222;
}
.mobile-menu.open img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
button.mopen_toggle {
    font-size: 16px;
    padding: 0px 16px;
    margin-top: 5px;
}
.mobile-menu.open {
    left: 0;
    visibility: visible;
    opacity: 1;
}
.menu-title a {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 11px 0;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: #000;
    padding-left: 15px;
}
.menu-title .copen_toggle {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px 20px;
}
.mhighlight {
    border: 0 !important;
}
.mobile-other {
    background: #ddd;
    margin-top: 25px;
}
.mobile-menu ul li  {
    border-bottom: 1px solid #ddd;
    padding: 8px 15px;
    display: block;
}
.mobile-menu ul li a {
    display: block;
}
.mobile-menu ul li:last-child  {
    border-bottom: 0px;
}
.mobile-menu ul li:hover {
    background: #f9f9f9;
}
.logo {
    width: auto !important;
}

.mlogo {
    display: block;
    text-align: center;
    width: 95px;
    height:33px !important;
}
.mlogo img {
    height:100%;
}
.mobile-rmenu svg {
    margin-top: -13px;
}
.mobile-header-top.fixed {
    position: fixed;
    transition: 0.5s all;
}
.proCheckout {
	bottom: -2px;
	background: #fff;
	padding-top: 6px;
}
.mobile-cart-area {
    background: #e5e5e5;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.call-us {
    margin-top: 47px;
    width: 90%;
}
.mobile-shopping {
    background: #0ab05c;
    padding: 12px 0;
    color: #fff !important;
}
.mobile-chat span {
    position: absolute;
    top: 0;
    padding: 0 7px;
    background: #fff;
    border-radius: 50%;
    font-size: 11px;
    left: -8px;
}
.mobile-chat {
    padding: 8px 0;
    position: relative;
}
.mobile-cart-area {
    display: block;
    z-index: 99999;
}
.navigation .toggle-wrapper {
    display: none;
}
.mobile-shopping a {
    color: #fff !important;
}
.navigation.open {
    z-index: 9999999;
}
.navigation {
    width: 100%;
}
ul.Menu__list {
    position: fixed;
    background: #fff;
    width: 300px;
}    
.slide-image-area {
        width: 100%;
    }
    #sellwithus,#prequest {
	margin-top: 35px;
}
    .slide-text {
	width: 100%;
}
    .mobile-ads {
    display:none;
}
.desktop-ads {
    display:none;
}
.cart-items .cart a strong {
     right: 77px;
     top: 6px;
    }
    .product-ads img {
	width: 100%;
}
    
.cartText {
	float: right;
	text-align: right;
}
.quantity-part {
	width: 100%;
}
.cartImage {
	float: none;
	position: relative;
	display: inline-block;
}
.cart-items ul .cart {
	margin-top: 5px;
}
.mlogo-cart {
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background: #fff;
    padding: 8px 0;
    box-shadow: 0px 0px 11px 3px #eee;
}
.m-menu {
    text-align: center;
}
.mlogo-cart .col-4 {
    text-align: center;
}
.m-menu a {
    color: #444;
}
.m-menu i {
    color: #444;
}
.m-menu p {
    line-height: 1.3;
}
.m-menu {
    display: block;
    position: relative;
}
.m-menu span {
    position: absolute;
    top: -2px;
    background: #3405c3;
    height: 18px;
    font-size: 12px;
    width: 18px;
    border-radius: 50px;
    line-height: 20px;
    color: #fff;
}
.category-area .col-4 {
	padding-left: 10px;
	padding-right: 10px;
}
.mcartArea .cart-items {
	display: block;
	text-align: right;
	margin-top: 39px;
	width: 100%;
}
.custom-dropdown {
	width: 100%;
	text-align: right;
	padding-right: 10px;
}
.cart-items{
    width: 100%;
}
.mobiledropbtn {
    position: relative;
    cursor: pointer;
}
.mobiledropdown-content {
	position: absolute;
	background: #f9f9f9;
	width: 145px;
	right: 0;
	transform: translateX(-00%);
	padding: 6px 8px;
	opacity: 0;
	visibility: hidden;
}
.custom-dropdown:hover .mobiledropdown-content {
    opacity: 1;
    visibility: visible;
}
.mobiledropdown-content a {
    display: block;
    text-align: left;
    padding: 2px 0;
}
.mobile-logo img {
	width: 130px;
	margin-top: 9px;
}
.mobile-hot-line {
    background: transparent;
    margin-top: -12px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 18px 0;
}
.mobile-hot-line a {
	color: #fff;
	font-weight: 600;
}
#sticker-sticky-wrapper {
	height: 190px !important;
	padding-top: 20px;
}
.is-sticky .main-header {
	background: #fff;
	z-index: 999999 !important;
	border-bottom: 1px solid #49057E;
	padding-top: 135px;
}
.login-button {
	background: transparent;
	border: 2px solid transparent;
	color: #222;
	text-transform: capitalize;
	font-weight: 600;
	padding: 8px 12px;
	border-radius: 5px;
	 margin-left: 10px; 
}
.cart a span{
    background: #db1e7e;
    color: #fff;
}

#head-phone {
	display: none !important;
}
.dbutton {
	margin: 4px 0 !important;
}
#mainslider, #mainslider .slider-item {
    height: 0 !important;
}
    ul.footer-contact li {
    display: block !important;
    margin: 20px 0 !important;
}
.logo {
   margin-top: 12px;
}
.section-padding {
	padding: 12px 0;
}
.mobile-sidebar {
    display: block;
    margin-bottom: 20px;
}
.pc-sidebar {
	display: none;
}
.mobile-sidebar .card-header button,.mobile-sidebar .card-header button:hover,.mobile-sidebar .card-header button:focus {
	display: block;
	width: 100%;
	color: #555 !important;
	text-align: left;
	font-size: 14px;
	text-decoration:none;
}
.mobile-sidebar .card-body {
	padding: 0 0;
}
.mobile-sidebar .card-body {
	padding: 0;
}
.custom-tree {
	padding: 0px 0;
}
.custom-tree li {
	padding: 0 15px;
}

.mobile-sidebar .card-header button span {
	float: right;
}
.mobile-sidebar .card-header {
	background: #fff;
	padding: 5px 2px;
}
.mobile-sidebar .card-header {
	background: #fff;
}
.is-sticky .head-phone {
    display: none;
}
.cat-widget .cat-img {
	height: 145px;
	width: 100%;
	padding: 0;
}
.cat-widget .cat-img.sub-cat-img {
	height: 100px;
	width: 100%;
	padding: 0;
}
.mobile-header-design {
	display: block;
}
.custTab li {
	display: block !important;
	width: 100%;
}
.mobile-cart ul li a {
	height: 30px;
	width: 30px;
	margin: 3px 23px;
}
.mobile-cart ul li img {
	padding: 0 0;
}
.mobile-cart ul li a {
	height: 30px;
	width: 30px;
	margin: 3px 23px;
}
.custTab li a {
	padding: 4px 0;
}

.cat-widget {
	margin-bottom: 15px;
}
.product-ads {
	height: 200px;
	width: 100%;
	background: #ddd;
	margin-bottom: 15px;
}
.tfoot-widget {
	margin-bottom: 15px;
	overflow: hidden;
}
.slider-ads-first {
	display: none;
}
.mobile-header-top {
    display: block !important;
    z-index: 9999 !important;
    background: #fff;
    width: 100%;
    top: 0;
    padding-bottom: 6px;
}
.mobile-top-contact {
    background: #efefef;
    padding: 5px 0;
    margin-bottom: 10px;
}
.header-top-right .social a {
    height: 25px;
    width: 25px;
    line-height: 25px;
}
.mobile-head-icon ul li a {
    margin-left: 4px;
    padding: 5px 8px;
    background: #cbe7e4;
    border-radius: 5px;
}
.mobile-top-contact .social a {
    margin-right: 0;
}
.htop-search {
    text-align: center;
    cursor: pointer;
}
.msearch-icon {
    text-align: center;
}
.mobile-search{
    margin-top: 4px;
    position: fixed;
    top: 33px;
    background: #fff;
    width: 100%;
    z-index: 9999;
    left: 0;
    padding: 2px 15px;
    transform: scale(0);
    transition: 0.35s all;
}
.mobile-search {
    display: block;
}
.mobile-search.active {
    transform: scale(1);
}
.scustomer-register {
    padding: 0 10px;
}

.main-scategory.sticky {
    display: none;
}
.homevideo button {
    text-align: center;
    border: 1px solid #ff1593;
    padding: 5px 0;
    border-radius: 50px;
    margin-top: 5px;
    color: #ff1593;
    display: block;
    width: 100%;
}
.vide-play {
    z-index: 999999;
    position: relative;
}
.video-modal-section {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    text-align: center;
}
.vide-play button {
    position: fixed;
    top: 10px;
    z-index: 9999;
    color: #fff;
    font-size: 18px;
}
.video-modal-section iframe {
    width: 100%;
    height: 250px;
}
.hproduct-name {
    /*height: 45px;*/
}
.hproduct-info {
    padding: 10px 5px !important;
}
.home-product .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.brand-item {
    height: 130px;
}
.brand-item a {
    line-height: 130px;
    font-size: 14px;
}
.msearch {
    text-align: right;
    padding-right: 8px;
}
.msearch button {
    color: #444;
    margin-top: 5px;
}
.Menu__burger {
    position: absolute;
    left: 15px;
    color: #fff !important;
    background: #fff;
    border-bottom: 5px !important;
    top: 20px;
    height: 20px !important;
    width: 20px !important;
}   

.mobile-header-top.vue-fixed-header--isFixed {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}
.main-header {
  display:none;
}
.main-search form {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #e5e5e5 !important;
    overflow: hidden;
}
    .header-top{
        display: none;
    }
    .cart-items {
    display: none;
    }
    .header-cell{
        display: none;
    }
    .hidetosm {
    display: none;
}
.shortbar select {
	width: 77%;
}
.search-product-inner {
    position: absolute;
    top: 204px !important;
    left: 7% !important;
    width: 400px;

}
.shortbar p {
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 20%;
}
.categorylistcarea {
     height: auto !important; 
}
.header-top-right li {
    color: #fff;
}
.logo {
    display:none;
}
    .hcall {
        display: none;
    }
    .huploadpres a {
        text-align: center;
    }
    .hfrom {
        margin-left: 0%;
    }
    .main-menu {
        display: none;
    }

    .huploadpres {
        display: none;
    }
    .hcartacchelp {
        width: 65%;
    }
    .mobile-header {
        display: block;
    }
.mlogo {
    display: block;
    text-align: center;
}

section.category-section {
    padding: 10px 0;
}
.mobile-search.main-search button {
    background: #fff;
    height: 38px;
}
    .mhotline {
        display: none;
    }
    #loginpanel {
        left: -50%;
    }
    .hhelp a {
        display: none;
    }
    .hhelp .toggle {
        right: 31px;
    }
    .hhelp i {
        color: #fff;
        margin-top: -14px;
        display: inherit;
        font-size: 21px;
    }
    .testimonial-body {
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .viewbar {
        width: 100%;
        text-align: left;
        margin-bottom: 8px;
    }
    .shortbar {
        width: 100%;
        text-align: center;
    }
    .hpagination {
        float: left;
        margin-left: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
        }
    .brandslide-item {
        width: 200px;
        margin: 0 auto;
    }
    .leftsidebar {
	display: none;
    }
   .paddleft-120 {
    	padding-left: 0;
    }
    .mainslider{
        padding-left: 0;
    }
    .categorylist,.categorylistcarea{
        height: auto;
    }
    .shop-side-bar {
    display: none;
}

.category-bar-border {
	width: 30%;
}
.category-bar-name {
	width: 40%;
}
.dproduct-header-right ul {
        display: block;
    }
    .shareit {
        display: none;
    }
    .product-cart {
        overflow: hidden;
        padding: 0px 2px;
        padding-bottom: 8px;
    }
    .details-pro-price {
        color: #ff1593;
    }
    .pro-highlight-left {
        float: none;
        width: initial;
    }
    .pro-highlight-right {
        float: none;
        width: initial;
    }
    .productdetails-info {
        margin-top: 20px;
    }
    .mobile-show {
        display: block;
    }
    .desktop-show {
        display: none;
    }

.buynow button {
    font-weight: 400 !important;
    font-size: 12px;
    padding: 3px 10px !important;
}
    .tab-section {
        padding: 15px 15px;
    }
    #pills-tab li a {
        margin: 4px 5px;
        padding: 3px 6px;
    }

}

@media only screen and (min-width:320px) and (max-width:570px){

}
@media only screen and (min-width:320px) and (max-width:500px) {

  
}


@media only screen and (min-width:320px) and (max-width:670px) {
    .hhelp a {
        display: block;
    }
    .hcartacchelp {
        width: 100%;
    }
    .haccount {
        text-align: right;
        width: 40%;
    }

    .hfrom {
        width: 70%;
        margin-bottom: 16px;
    }

    .cart-items ul .cart {
        width: 100%;
        text-align: right;
    }
    .wishlist.big {
         display: none;
    }
    .cart-items ul .cart p {
        right: 70px;
    }
  
    .cart-items {
        text-align: right;
        display: none;
    }
}


@media only screen and (min-width:768px) and (max-width:991px) {
.custom-col {
    width: 31% !important;
}
    .cart-items{
    width: 100%;
}
    .main-menu {
        display: none;
    }

    .mobile-header {
        display: block;
    }


    .hpagination {
        display: none;
    }

}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .mobile-footer {
        display: none;
    }
}

@media only screen and (min-width:991) and (max-width:1050px) {
.cart-items ul li {
    margin-left: 24px;
    }
}
/*large*/


@media only screen and(min-width:1200px) and (max-width:1920px) {
    .mobile-footer {
        display: none;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .custom-col .col-lg-3{
        max-width: 25% !important;
    }
}
@media only screen and (min-width:320px) and (max-width:767px) {
    .mobile-hide{
        display:none;
    }
    
    
}
@media only screen and (min-width:375px) and (max-width:415px) {
   .dslider-image {
        height: 447px !important;
    }
}
@media only screen and (min-width:320px) and (max-width:480px) {
    .custom-col .col-lg-3{
        max-width: 50% !important;
    }
}
@media only screen and (min-width:550px) and (max-width:1140px) {
   .hproduct-img {
        height: 315px;
    }
}
@media only screen and (min-width:1400px) and (max-width:3000px) {
    .hproduct-img {
        min-height: 350px;
    }
}



